@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat'), local('Montserrat'), url(../fonts/Montserrat.eot) format('embedded-opentype'), url(../fonts/Montserrat.woff2) format('woff2'), url(../fonts/Montserrat.woff) format('woff'), url(../fonts/Montserrat.ttf) format('truetype'), url('../fonts/Montserrat.svg') format('svg');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

* {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
}

body {
    margin: 0;
    background-color: #fafafa;
    font-size: 12px;
    font-family: 'Montserrat', Arial, serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

select, input {
    width: 90%;
    padding: 10px;
    direction: ltr;
    margin: 0;
    border: 1px solid #dddddd;
    font-family: 'Montserrat', Arial, serif;
    font-size: 14px;
}

.page-table {
    width:100%;
    direction:ltr;
    margin-top: 60px;
}

.page-table-bar {
    position: fixed;
    direction:ltr;
    top: 0;
    left: 0;
    width:100%;
    height:60px;
    background-color:#4dc7bc;
    color:#ffffff;
    font-family: 'Montserrat',Arial, serif;
}

.page-table-bar-right {
    text-align: left;
    padding-left: 15px;
    font-size: 18px;
    font-weight: bold;
    border-bottom:1px solid #49bdb3;
}

.page-table-bar-left {
    text-align: right;
    padding-right: 10px;
    border-bottom:1px solid #49bdb3;
}

.page-table-bar-subtitle {
    color: #c7e9e6;
    font-size: 12px;
    padding-left: 10px;
}

.page-table-main {
    background-color: #ffffff;
}

.page-table-input {
    background-color: #f8f8f8;
}

.page-table-image {
    height: 300px;
    background-size: contain;
    background: #ffffff no-repeat center;
    border-top: 3px solid #fafafa;
    border-bottom: 3px solid #fafafa;
}

.page-table-unit {
    padding: 10px;
    background-color: #f8f8f8;
    border-bottom: 3px solid #eeeeee;
}

.page-table-copy {
    font-size: 10px;
    color: #bbbbbb;
    text-align: center;
    direction: ltr;
    padding: 10px 0 60px 0;
    border-top: 3px solid #f8f8f8;
}

.property {
    width: 100%;
    direction: ltr;
    cursor: pointer;
    background-color: #fafafa;
    border-spacing: 2px;
    font-family: 'Montserrat', Arial, serif;
}

.property-thumb {
    background-size:cover;
    background: #c7e9e6 center;
    color:#368c84;
    height: 60px;
    width:60px;
    border-radius: 30px;
    text-align:center;
    font-size:14px;
}

.property-name {
    background-color: #ffffff;
    color: #888888;
    text-align: left;
    padding-left: 10px;
    font-size: 14px;
    font-weight: bold;
}

.property2 {
    width: 100%;
    direction: ltr;
    cursor: pointer;
    background-color: #fafafa;
    border-spacing: 2px;
    font-family: 'Montserrat', Arial, serif;
}

.property2-thumb {
    background-size:cover;
    background: #c7e9e6 center;
    color:#368c84;
    height: 60px;
    width:60px;
    text-align:center;
    font-size:14px;
}

.property2-name {
    background-color: #fcfcfc;
    color: #555555;
    text-align: left;
    padding-left: 10px;
    font-size: 14px;
    font-weight: bold;
}

.about {
    width: 100%;
    direction: ltr;
    cursor: pointer;
    background-color: #fafafa;
    border-spacing: 2px;
    font-family: 'Montserrat', Arial, serif;
}

.about-thumb {
    background-size:cover;
    height: 60px;
    width:60px;
    border-radius: 30px;
    background: #eeeeee center;
    color:#999999;
    text-align:center;
    font-size:14px;
}

.about-name {
    background-color: #fbfbfb;
    color: #aaaaaa;
    text-align: left;
    padding-left: 10px;
    font-size: 14px;
    font-weight: bold;
}

.unit {
    height: 30px;
    float: left;
    direction: ltr;
    padding: 5px;
    margin: 2px;
    background-color: #eeeeee;
    border: 1px solid #ededed;
    color: #888888;
}

.unit-selected {
    height: 30px;
    float: left;
    direction: ltr;
    padding: 5px;
    margin: 2px;
    background-color: #41a79e;
    border: 1px solid #f2673c;
    color: #ffffff;
}

.input {
    width: 100%;
    height: 70px;
    background-color: #ffffff;
    border: 1px solid #fafafa;
}

.input-lable {
    width: 80px;
    text-align: left;
    padding-left: 10px;
    font-family: 'Montserrat', Arial, serif;
    font-size: 14px;
    font-weight: bold;
}

.input-value {
    text-align: left;
    padding-left: 10px;
}

.converted {
    width: 100%;
    height: 70px;
    direction: ltr;
    background-color: #eeeeee;
    border: 1px solid #eaeaea;
}

.converted-unit {
    color: #555555;
    height: 30px;
    text-align: left;
    direction: ltr;
    padding-left: 10px;
    font-size: 12px;
}

.converted-unit-fa {
    color: #555555;
    height: 30px;
    text-align: left;
    padding-left: 10px;
    font-size: 14px;
    font-family: 'Montserrat', Arial, serif;
    font-weight: bold;
}

.converted-value {
    color: #333333;
    text-align: center;
    font-size: 18px;
    font-family: 'Montserrat', Arial, serif;
}

.identity {
    width: 100%;
    height: 70px;
    direction: ltr;
    background-color: #ffffff;
    border: 1px solid #fafafa;
}

.identity-title {
    background-color: #fafafa;
    color: #555555;
    height: 30px;
    text-align: left;
    padding: 10px;
    font-size: 14px;
    font-family: 'Montserrat', Arial, serif;
    font-weight: bold;
    direction: ltr;
}

.identity-formula {
    color: #333333;
    text-align: center;
    font-size: 18px;
    font-family: 'Montserrat', Arial, serif;
    padding:20px 10px;
    border-bottom: 1px solid #eee;
}

.button {
    height:30px;
    border-radius: 30px;
    background: #41a79e;
    border: 1px solid #44b1a7;
    float: right;
    margin: 5px;
    padding: 0 10px 0 10px;
    color: #ffffff;
    text-align: center;
    font-weight: normal;
    font-size: 12px;
}

.button:hover {
    background-color: #44b1a7;
}

#page2, #page3, #page4 {
    display: none;
}

.paragraph {
    font-family: 'Montserrat', Arial, serif;
    font-size: 12px;
    color: #999999;
    direction: ltr;
    text-align: left;
    padding: 20px 10px 10px 10px;
}

.app {
    width: 100%;
    direction: ltr;
    cursor: pointer;
    background-color: #fcfcfc;
    border-spacing: 5px;
    font-family: 'Montserrat', Arial, serif;
}

.app-thumb {
    height: 100px;
    width:100px;
    text-align:center;
    background-repeat: no-repeat;
    background-size: contain;
}

.app-detail {
    background-color: #ffffff;
    color: #888888;
    text-align: left;
    padding-left: 10px;
}

.app-name {
    font-size: 14px;
    font-weight: bold;
}

.app-price {
    font-size: 12px;
    color: #4B946A;
}